streamlit
requests
beautifulsoup4
langchain
langchain-community
langchain-google-genai
chromadb
huggingface-hub
sentence-transformers
duckduckgo-search
tiktoken
numpy
pandas
langgraph
spacy
pyresparser
gunicorn
uvicorn